/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*--------------------*/
@font-face { font-family: 'segoeuib-Bold'; src:  url('../assets/fonts/segoeuib.ttf'); format('truetype'); }
@font-face { font-family:'impact_0'; src:url('../assets/fonts/impact_0.ttf'); format('truetype');}
/*--------------------*/

body{ background:#EEEEEE; font-size:12px;}
.header_container{ background:#222222; width:100%; padding-top:7px; height:28px; position:relative; position:fixed; z-index:100}
.header_title{ color:#B9B9B9; font-weight:600; font-size:14px; display:inline; margin:0 auto auto 5px; line-height:1}
.university_logo{ width:17px; margin:0 auto auto 10px; line-height:1}
.login_detail{ width:300px; height:25px; margin:0; float:right;font-size: 14px;color: #B9B9B9; margin-top: 3px;}
.login_detail span.email{ float: left; width:70%; text-align:right; padding-right:10px;}
.login_detail span.logout{ border-left:1px solid #B9B9B9; padding-left:10px; float:right; margin-right:20px;}
.login_detail a{color: #B9B9B9;} 
.login_detail a:hover{ color:#FFF; text-decoration: underline}
.site_container{ position:relative; display:block}
.container_main{  width:100%;}
.sidebar_left{ background:#222222; width:200px; height:700px; float:left ; position:fixed; z-index:100; margin-top:35px;}
.main_menu{ color:#EEEEEE; font-size:15px; width:100%; float:left}
.main_menu ul{list-style-type:none; margin:10px auto auto -40px; }
.main_menu ul a{color:#EEEEEE; text-decoration:none} 
.main_menu ul li{ display:block; height:35px; margin-top:1px; padding-left:10px; width:100; cursor:pointer; padding-top: 7px;}
.main_menu ul li.menu_sub_header{ font-weight:600;}
.Adminpage .dashboard, 
	.allowedCompanyToAdmin .mng_internship, 
	.notallowedCompanyToAdmin .mng_internship{background: #003366}





.main_menu .second_menu{ color: #CCCCCC;margin-top: 0; margin-left:-25px}
.main_menu .second_menu a{ color:#CCCCCC; text-decoration:none}
.main_menu .second_menu li.sub_active{ background:#1D1C1C}
.triangle_div{ width:0; height:0; background: #003300; border-left:10px; float: right}
container_main{ position: relative}
.content_wrapper{ background:#FFFFFF;width:1110px; margin:45px 10px auto 210px; min-height:550px; position:relative; float:left; padding:10px; -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.17), 3px 0 5px -3px rgba(1, 1, 1, 0.87);}
.content_wrapper h2{ font-family:impact_0; font-weight: 100; margin-top:0; color: #003366;}
.content_header{ width:100%; border-bottom:1px solid #CCCCCC; height: 35px;}

#second_menu_company , #second_menu_students, #second_menu_reports{ }
.content_wrapper table.content_table{ margin-left:auto; margin-right:auto; width:1110px; border:1px solid #666666; margin-top:10px;}
.content_wrapper table.content_table td{ border:1px solid #666666; padding:5px; vertical-align:top}
.content_wrapper table.content_table tr:nth-child(odd){ background:#F3F3F3}
.content_wrapper table.content_table tr.table_header{ font-weight:600; }
.content_wrapper table.content_table tr:hover{ background:#CCCCCC; cursor:default;}
.arrow_div{ width: 0; height: 0; border-top: solid 10px transparent; border-right: solid 10px #EEEEEE; border-bottom: solid 10px transparent; float:right; margin-top: 4px; visibility:hidden}

.content_wrapper table.content_table td:nth-child(1){ width:30px;}
.content_wrapper table.content_table td:nth-child(2){ width:120px;}
.content_wrapper table.content_table td:nth-child(3){ width:160px; font-size:12px;}
.content_wrapper table.content_table td:nth-child(4){ width:30px;}
.content_wrapper table.content_table td:nth-child(5){ width:30px;}
.content_wrapper table.content_table td:nth-child(6){ width:100px;}
.content_wrapper table.content_table td:nth-child(7){ width:30px;}
.content_wrapper table.content_table td:nth-child(8){ width:40px;}

.Adminpage .dashboard .arrow_div, 
	.allowedCompanyToAdmin .reg_comp .arrow_div, 
	.notallowedCompanyToAdmin .new_req .arrow_div,
	.allStudentToAdmin .reg_st .arrow_div,
	.allowAndRemoveCv .hsnddlecv .arrow_div,
	.CreateNewStudentProfiles .add_st .arrow_div { visibility:visible}

.item_container{ background: #F3F3F3; width: 520px; height: 130px; border: 1px solid #E4E4E4; margin: 10px; padding:5px; -webkit-box-shadow:  3px 3px 5px 2px rgba(0, 0, 0, 0.2);
        
        box-shadow:  3px 3px 5px 2px rgba(0, 0, 0, 0.2);}
.item_container p{ font-size:12px;}
.content_left{ width:555px;float:left;}
.content_right{ width:555px; float:left;}
.content_right ul{ list-style-type: none; margin:5px 0; padding:0; font-size:12px;}
.content_right h3, .item_container h3{ font-weight:600; margin:10px 0;}
.content_right ul li{ display:block; height:30px; background:#F3F3F3; padding-left: 5px; padding-top:7px; height:23px }
.content_right ul li:nth-child(odd){ background:#E6E6E6}
.content_right ul li.list_header{ font-size:14px; font-weight:600; background:#CCCCCC; border-bottom:1px solid #999999;padding-top:4px;}

.right_align{ float:right}
.input_container{ height:70px;}
.middle_continer{ background:#999999; width:700px; margin:10px auto 0 auto;background: #F3F3F3;border: 1px solid #E4E4E4; padding:10px; -webkit-box-shadow:  3px 3px 5px 2px rgba(0, 0, 0, 0.2); box-shadow:  3px 3px 5px 2px rgba(0, 0, 0, 0.2);}
.middle_continer h3{ font-size:14px; font-weight:600px; font-family:Arial, Helvetica, sans-serif; color:#333333}
.middle_continer ul{ list-style-type:none; padding:0; margin:0;}
.middle_continer ul li{ display:block; border-bottom:1px solid #CCCCCC; height:26px; padding-top:10px;}
.select_batch{ width:100px; height:20px; background:#F7F7F7; border:1px solid #CCCCCC}
.newstudentadmin .text_area textarea.text{ border: 1px solid #CCC;
margin-left: 13px;
border-radius: 5px;
margin-bottom: 10px; -webkit-box-shadow: inset 3px 3px 2px 0px rgba(0, 0, 0, 0.1);
        
        box-shadow: inset 3px 3px 2px 0px rgba(0, 0, 0, 0.1);}
.pwd_area{ width:200px; height:30px; border-radius:5px; border:1px solid #CCC;-webkit-box-shadow: inset 3px 3px 2px 0px rgba(0, 0, 0, 0.1);
        
        box-shadow: inset 3px 3px 2px 0px rgba(0, 0, 0, 0.1);}
.nav_area{ width:100%; height:40px; margin:10px 0 10px auto;}
.message_container{ width:100%; height:400px}
.msg_left_area{ width:30%; float:left}
.msg_right_area{  width:70%;  float:left}
.msg_cat{ height:40px; padding-top:7px; border-bottom:5px solid #333333}
.msg_cat ul{ list-style-type:none; margin:0; padding:0}
.msg_cat ul li{ float:left; padding:5px; background:#333333; height:25px; padding-top:10px; width:120px; border-radius:5px 5px 0 0; margin-right:1px; text-align:center; color:#CCCCCC; font-weight:600}
.msg_cat ul li.active{ text-decoration:underline}
.msg_sub_container{ max-height:700px; overflow: auto;}
.msg_sub_container ul{ padding:0; margin:0; list-style-type:none}
.msg_sub_container ul li{ padding:10px;}
.msg_sub_container ul li:nth-child(odd){ background:#EEEEEE}
.message_header{ background:#EEE; min-height:55px; margin:7px 10px; padding:10px;}
.message_body{ background:#FFF; margin:10px; height:400px; padding:10px; -webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.3); box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.3);}




/*=====================================================*/
 .start_button {
        
        -moz-box-shadow: 0px 10px 14px -7px #3e7327;
        -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
        box-shadow: 0px 10px 14px -7px #3e7327;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
        background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
        
        background-color:#77b55a;
        
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;
        
        border:1px solid #4b8f29;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:14px;
        font-weight:bold;
        padding:8px 37px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #5b8a3c;
        
    }
    .start_button:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
        background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
        background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
        background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
        background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
        background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
        
        background-color:#72b352;
    }
    .start_button:active {
        position:relative;
        top:1px;
    }
    
/**********************/

    .create_button {
        
        -moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
        -webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
        box-shadow:inset 0px 1px 0px 0px #f7c5c0;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
        background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
        background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
        background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
        background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
        background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
        
        background-color:#fc8d83;
        
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        
        border:1px solid #d83526;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:9px 24px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #b23e35;
        
    }
    .create_button:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
        background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
        background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
        background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
        background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
        background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
        
        background-color:#e4685d;
    }
    .create_button:active {
        position:relative;
        top:1px;
    }





/*=================/Button Styles==========================================*/






.but_view, .but_discard, .but_remove, .but_select{ width:20px; height:20px; border:none; float:left; margin-left: 1px;}
.but_view{background:url('../assets/img/get_actions/view25x25.png') no-repeat; background-size:20px 20px;}
.but_discard{background:url('../assets/img/get_actions/reject25x25.png') no-repeat; background-size:20px 20px;}
.but_remove{background:url('../assets/img/get_actions/remove25x25.png') no-repeat; background-size:20px 20px;}
.but_select{background:url('../assets/img/get_actions/select.png') no-repeat; background-size:20px 20px;}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
